html *
{
  font-family: Arial !important;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

#container {
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

.spaced-button {
	vertical-align: top;
    display: inline-block;
    *display: inline;
    margin: 5px;
}