<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ STATIC_URL }}website_static/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}website_static/css/bootstrap-responsive.css" rel="stylesheet">

    <link href="{{ STATIC_URL }}website_static/css/detail.css" rel="stylesheet" type="text/css" title="main" media="screen" />
    <link href="{{ STATIC_URL }}website_static/css/sticky_footer.css" rel="stylesheet" type="text/css" title="main" media="screen" />
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="{{ STATIC_URL }}website_static/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}website_static/js/detail.js"></script>
    <script src="{{ STATIC_URL }}website_static/js/bootstrap-transition.js"></script>
  </head>
  
  <body>

    <!-- Part 1: Wrap all page content here -->
    <div id="wrap">
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
          <div id="container" class="container-fluid">
                <div class="spaced-button">
                  <form action="{% url 'polls:options' question.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-large" id="options" value="Settings"/>
                  </form>
                </div> 
                <div class="spaced-button">
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-large" data-toggle="modal" data-target="#myModal">
                    Help
                  </button>
                </div>
                <div class="spaced-button"><a class="btn btn-large" href="{% url 'polls:review'%}">Review</a></div> 
                <span class="stretch"></span>
          </div>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade hide" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
              <h4 class="modal-title" id="myModalLabel">Help</h4>
            </div>
            <div class="modal-body">
              <p>
                <b>To vote for the candidate of your choice,</b> click that person's name or the circle next to the name.
                <br>
                <br>
                <b>If you want to change your vote or if you make a mistake,</b> click the deselect button at the bottom of the page. Then touch the choice you want.
                <br>
                <br>
                <b>You do not have to vote in every race.</b> Your ballot will still be counted even if you do not vote in every race.
              </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <h1><font size = "{{titleSize}}">{{ question.question_text }}</font></h1>
        {% if error_message %}
          <p><strong>{{ error_message }}</strong></p>
        {% endif %}
        </br>

        <div id="choices-container">
          <form action="{% url 'polls:vote' question.id %}" method="post">
            {% csrf_token %}
            {% for choice in question.choice_set.all %}
              {% if choice.party_description != ' ' %}
                <label class="radio" for="choice{{ forloop.counter }}" name = "{{ choice.choice_text }}" party = "{{ choice.party_description }}">{{ choice.choice_text }} - <i>{{ choice.party_description }}</i> 
              {% else %}
                <label class="radio" for="choice{{ forloop.counter }}" name = "{{ choice.choice_text }}" party = "{{ choice.party_description }}">{{ choice.choice_text }}</i>
              {% endif %}
              <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
              </label></br></br>
            <script>
              $("input[name='choice']").change(function(){
                if ($("input[name='choice']:checked")) {
                  $("input[name='choice']:radio").attr('disabled', true);
                  sessionStorage.setItem("remember_choice_for_{{ question.id }}", $('input[type=radio]:checked').val());
                  var $id = $('input[type=radio]:checked').attr('id');
                  //alert($id)
                  var $name = $('label[for = ' + $id + ' ]').attr("name");
                  //alert($name)
                  var $party = $('label[for = ' + $id + ' ]').attr("party");
                  //alert($party)
                  sessionStorage.setItem("remember_name_for_{{ question.id }}", $name);
                  sessionStorage.setItem("remember_party_for_{{ question.id }}", $party);
                }
              });
            </script>
          {% endfor %}
        </div>
            
        <script>
          $(document).ready(function(){
            if (sessionStorage.getItem("remember_choice_for_{{ question.id }}") != null) {
              $("input[value="+sessionStorage.getItem('remember_choice_for_{{ question.id }}')+"]").prop("checked", true);
            };
          });
        </script>
      </div> <!-- /container -->
      <div id="push"></div>
    </div>

    <div id="footer">
      <div id="container" class="container-fluid">
        {% if question.id|add:"0" != 136 %}  
          <div class="spaced-button">
            <a class="btn btn-large" href="{% url 'polls:vote_previous' question.id %}">Previous</a>
          </div>
        {% else %}
          <div class="spaced-button"></div>
        {% endif %}

        <div class="spaced-button">
          <a class="btn btn-large" id ="deselect2">Deselect Choice</a>
        </div>

        <div class="spaced-button">
          <input type="submit" id="vote" class="btn btn-large btn-success" value="Next" />
        </div>
        </form>

        <span class="stretch"></span>
      </div>
    </div>
  </body>
</html>