<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ STATIC_URL }}website_static/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}website_static/css/bootstrap-responsive.css" rel="stylesheet">

    <link href="{{ STATIC_URL }}website_static/css/detail.css" rel="stylesheet" type="text/css" title="main" media="screen" />
    <link href="{{ STATIC_URL }}website_static/css/sticky_footer.css" rel="stylesheet" type="text/css" title="main" media="screen" />
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="{{ STATIC_URL }}website_static/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}website_static/js/detail.js"></script>
    <script src="{{ STATIC_URL }}website_static/js/bootstrap-transition.js"></script>
  </head>
  
  <body>

    <!-- Part 1: Wrap all page content here -->
    <div id="wrap">
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
          <div id="container" class="container-fluid">
                <div class="spaced-button">
                  <form action="{% url 'polls:options' question.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-large" id="options" value="Settings"/>
                  </form>
                </div> 
                <div class="spaced-button"><a class="btn btn-large" href="#">Help</a></div> 
                <div class="spaced-button"><a class="btn btn-large" href="{% url 'polls:review'%}">Review</a></div> 
                <span class="stretch"></span>
          </div>
        </div>
      </div>

      <div class="container">
        <h1><font size = "{{titleSize}}">{{ question.question_text }}</font></h1>
        {% if error_message %}
          <p><strong>{{ error_message }}</strong></p>
        {% endif %}
        <form action="{% url 'polls:vote' question.id %}" method="post">
          {% csrf_token %}
          {% for choice in question.choice_set.all %}
            {% if choice.party_description != ' ' %}
              <label class="radio" for="choice{{ forloop.counter }}" name = "{{ choice.choice_text }}" party = "{{ choice.party_description }}">{{ choice.choice_text }} - <i>{{ choice.party_description }}</i> 
            {% else %}
              <label class="radio" for="choice{{ forloop.counter }}" name = "{{ choice.choice_text }}" party = "{{ choice.party_description }}">{{ choice.choice_text }}</i>
            {% endif %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
            </label>
          {% endfor %}
      </div> <!-- /container -->
      <div id="push"></div>
    </div>

    <div id="footer">
      <div id="container" class="container-fluid">
        {% if question.id|add:"0" != 136 %}  
          <div class="spaced-button"><a class="btn btn-large" href="{% url 'polls:vote_previous' question.id %}">Previous</a></div> 
        {% else %}
          <div class="spaced-button"></div>
        {% endif %}

        <div class="spaced-button">
          <input type="submit" id="vote" class="btn btn-large" value="Next" />
        </div>
        </form>

        <span class="stretch"></span>
      </div>
    </div>
  </body>
</html>