<html>
<head>
  <title>Ballot Accessibility Options</title>
</head>
  <link href="{{ STATIC_URL }}website_static/options.css" rel="stylesheet" type="text/css" title="main" media="screen" />

  <script language="javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>
  <script>
  $(document).ready(function(){

    if (sessionStorage.getItem('color') != 'null') {
      $("body").css('color', sessionStorage.getItem('color'));
    } else {
      sessionStorage.setItem('color', 'black');
    }

    if (sessionStorage.getItem('background-color-color') != 'null') {
      $("body").css('background-color', sessionStorage.getItem('background-color'));
    } else {
      sessionStorage.setItem('background-color', 'white');
    }

    $("#small").click(function(event){
      event.preventDefault();
      $("h1").animate({"font-size":"18px"});

      $("label").animate({"font-size":"16px"});
      $("input").animate({"font-size":"16px"});
    });
  
    $("#medium").click(function(event){
      event.preventDefault();
      $("h1").animate({"font-size":"36px"});
      $("label").animate({"font-size":"24px"});
      $("input").animate({"font-size":"24px"});
      $("#vote").animate({
        "width":"75px",
      "font-size":"24px"}
      );
    });
  
    $("#large").click(function(event){
      event.preventDefault();
      $("h1").animate({"font-size":"48px"});
      $("label").animate({"font-size":"30px"});
      $("input").animate({"font-size":"30px"});
      $("#vote").animate({
        "width":"150px",
      "font-size":"30px"}
      );
    });
  
    $("a").click(function() {
    $("a").removeClass("selected");
    $(this).addClass("selected");
    });


    // function to invert color
    $("#invert").click(function(event) {
      event.preventDefault();
      if (sessionStorage.getItem('color') == 'white') {
        $("body").css('color', 'black');
        sessionStorage.setItem('color', 'black');
      } else {
        $("body").css('color', 'white');
        sessionStorage.setItem('color', 'white');
      }
      if (sessionStorage.getItem('background-color') == 'white') {
        $("body").css('background-color', 'black');
        sessionStorage.setItem('background-color', 'black');
      } else {
        $("body").css('background-color', 'white');
        sessionStorage.setItem('background-color', 'white');
      }
    });

  });
  </script>
<body>

  <h1>Ballot Accessibility Options</h1>
  <p>Sample Ballot Question</p>
    <p> Justice of the Peace, Precinct 2, Place 2</p>
        <input type="radio" /> George E. Risner - <i>Democratic Party</i></input>
  <h2> Adjust Ballot Font Size</h2>
    <form action="{% url 'polls:submit_survey' %}" method="post">
    {% csrf_token %}
     <p>1. Title Size</p>   
    <input type="number" name="title"><br />
    <p>2. Choice Size</p>   
    <input type="number" name="choice"><br />
    <input type="submit" value="Submit" />
    </form>
    <div id="controls">
    <a href="#" id="small" class="selected">A</a>
    <a href="#" id="medium">A</a>
    <a href="#" id="large">A</a>
  </div>

  <h2> Invert Color</h2>
  <button id="invert" type="button">Invert Color</button>

  <form action="{% url 'polls:toballot'%}" method="post">
    {% csrf_token %}
  <input type="submit" id="ballot" value="Back To Ballot" />
  </form>


</body>
</html>
 
