<html>
<head>
  <title>Ballot Accessibility Options</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
  <!--<link href="{{ STATIC_URL }}website_static/options.css" rel="stylesheet" type="text/css" title="main" media="screen" /> -->

  <!-- <script language="javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script> -->
  <script>
  $(document).ready(function(){

var pathArray = window.location.pathname.split( '/' );
var id = pathArray[2];
if (id == "options"){
  id = 0;
}
else{
  id = parseInt(id);
}

sessionStorage.setItem('returnId', id)

if (sessionStorage.getItem('color') == null){
    sessionStorage.setItem('color', 'black');
    sessionStorage.setItem('background-color', 'white');
  }

if (sessionStorage.getItem("boldness") != null) {
  if (sessionStorage.getItem("boldness") == 400){
      $("input[id=normal]").prop("checked", true);
  }
  else{
    $("input[id=bold]").prop("checked", true);
    $("txt[name=sample]").css("font-weight", 700);
  }
    }

  if (sessionStorage.getItem("size") != null) {
    $("txt[name=sample]").css("font-size", sessionStorage.getItem("size"));
    $sizeValue = sessionStorage.getItem("size");
  }
  else{
    $sizeValue = "18";
  }

  $("#size").val($sizeValue);



  $( "#sizeSlider" ).slider({
    min: 18,
    max: 72,
    value: $sizeValue,
    slide: function(event, ui) {
      getSize();
    } 
    });

    $("#small").click(function(event){
      event.preventDefault();
      $("h1").animate({"font-size":"18px"});

      $("label").animate({"font-size":"16px"});
      $("input").animate({"font-size":"16px"});
    });
  
    $("#medium").click(function(event){
      event.preventDefault();
      $("h1").animate({"font-size":"36px"});
      $("label").animate({"font-size":"24px"});
      $("input").animate({"font-size":"24px"});
      $("#vote").animate({
        "width":"75px",
      "font-size":"24px"}
      );
    });
  
    $("#large").click(function(event){
      event.preventDefault();
      $("h1").animate({"font-size":"48px"});
      $("label").animate({"font-size":"30px"});
      $("input").animate({"font-size":"30px"});
      $("#vote").animate({
        "width":"150px",
      "font-size":"30px"}
      );
    });

    $("#applySize").click(function(event) {
      event.preventDefault();
      sessionStorage.setItem('size', $size);
    });
  
    $("a").click(function() {
    $("a").removeClass("selected");
    $(this).addClass("selected");
    });

    $("#applyBold").click(function(event){
      if ($("input[id='normal']:checked").val()) {
        sessionStorage.setItem("boldness", 400)
        $("txt[name=sample]").animate({"font-weight":400});
      }
      if ($("input[id='bold']:checked").val()) {
        sessionStorage.setItem("boldness", 700)
        $("txt[name=sample]").animate({"font-weight":700})
      }

    });


    // function to invert color
    $("#invert").click(function(event) {
      event.preventDefault();
      if (sessionStorage.getItem('color') == 'white') {
        $("body").css('color', 'black');
        sessionStorage.setItem('color', 'black');
      } else {
        $("body").css('color', 'white');
        sessionStorage.setItem('color', 'white');
      }
      if (sessionStorage.getItem('background-color') == 'white') {
        $("body").css('background-color', 'black');
        sessionStorage.setItem('background-color', 'black');
      } else {
        $("body").css('background-color', 'white');
        sessionStorage.setItem('background-color', 'white');
      }
    });

  });

  function getSize() {
    $size = $("#sizeSlider").slider("values", 0);
    $("#size").val($size);
    $("txt[name=sample]").animate({"font-size":$size + "px"});
    //sessionStorage.setItem('size', $size);
    //$("h1").animate({"font-size":$size + "px"});
    //$("label").animate({"font-size":$size + "px"})
  }

  </script>
</head>
<body>

  <h1>Ballot Accessibility Options</h1>
  <p> <txt name= "sample">Sample Ballot Question</txt></p>
    <p> <txt name= "sample">Justice of the Peace, Precinct 2, Place 2</txt></p>
        <input type="radio" /> <txt name= "sample">George E. Risner - <i>Democratic Party</i></txt></input>
  <h2> Text Size </h2>
<div id="sizeSlider"></div>
<input id="size" type="button"/>
<input id = "applySize" type="submit" value="Apply Changes" />
<form>
<h2> Text Boldness </h2>
<form>
<p><input name = "boldSelect" id = "normal" type="radio" > Normal </input></p>
<p><input name = "boldSelect" id = "bold" type="radio" > <b> Bold </b> </input></p>
</form>
<input id = "applyBold" type="submit" value="Apply Changes" />


  <h2> Invert Color</h2>
  <button id="invert" type="button">Invert Color</button>

  <form id = "ballot" action="{% url 'polls:forward' 8 %}" method="post">
    {% csrf_token %}
   <input type="submit" id="ballot" value="Back To Ballot" />
  </form>


</body>
</html>
 
