<html>
<head>
<title>Your Choices </title>
<h1>Your Choices </h1>
<h2> Review your choices here. </h2>
  <script language="javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>
  <link href="{{ STATIC_URL }}website_static/review.css" rel="stylesheet" type="text/css" title="main" media="screen" />

<script>

$(document).ready(function(){

    if (sessionStorage.getItem('color') != 'null') {
      $("body").css('color', sessionStorage.getItem('color'));
    }

    if (sessionStorage.getItem('background-color-color') != 'null') {
      $("body").css('background-color', sessionStorage.getItem('background-color'));
    }

    // alert("" + sessionStorage.getItem('size') + "")

    if (sessionStorage.getItem('size') != 'null'){
    $("body").css('fontSize', sessionStorage.getItem('size') + "px")
  }

      //alert("" + sessionStorage.getItem('boldness') + "")

    if (sessionStorage.getItem('boldness') != 'null'){
    $("body").css('fontWeight', sessionStorage.getItem('boldness'))
  }

});

</script>

{% if question_list %}
    <ul>
    {% for question in question_list %}
    <script>
    $(document).ready(function(){
    $("p[id= question_text_{{ question.id }}]").text("{{question.question_text}}");

    if (sessionStorage.getItem("remember_choice_for_{{ question.id }}") == null){
    	choice = "No selection for this race";
        name = "No selection for this race";
        party = "";
    }
    else{
    	choice = sessionStorage.getItem("remember_choice_for_{{ question.id }}");
        name = sessionStorage.getItem("remember_name_for_{{ question.id }}");
        if (sessionStorage.getItem("remember_party_for_{{ question.id }}") != ' '){
            party = " - " + sessionStorage.getItem("remember_party_for_{{ question.id }}");
        }
        else{
           party = sessionStorage.getItem("remember_party_for_{{ question.id }}"); 
        }
    }
    $("label[id = label{{ question.id }}]").text(name + party);
    $("label[id = label{{ question.id }}]").css('fontWeight', 'bold');
    $("p[id= question_text_{{ question.id }}]").text("{{question.question_text}}");
    $("p[id= question_text_{{ question.id }}]").css('fontWeight', 'bold');


    //if (choice == "No selection for this race"){
    //	$("p[id= question_text_{{ question.id }}]").css('fontWeight', 700);
    //}

    if (sessionStorage.getItem("remember_choice_for_{{ question.id }}") != null){
        $("div[id = {{ question.id }}]").attr("id", sessionStorage.getItem("remember_choice_for_{{ question.id }}"));

    }
    //alert("check")

	});
    </script>
    </head>
    <p id = "question_text_{{ question.id }}">{{ question.question_text }} </p>
    <div id = "{{ question.id }}"></div>
      <input type="radio" name="choice" id="choice" value="{{ choice}}" />
      <label id = "label{{ question.id }}"></label><br />

     <!--  <form action="{% url 'polls:detail' question.id %}" method="post">
    {% csrf_token %}
  <input type="submit" id="change" value="Change Selection" />
  </form> -->
        <li><a href="{% url 'polls:detail' question.id %}">Change Selection</a></li>
    {% endfor %}
      <p><li><a href="{% url 'polls:survey'%}">Confirm Vote and Go to Survey</a></li></p>
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

<html>