<!doctype html>
<html lang="en">
 <head>
	<meta charset="utf-8">
	 <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
	<!-- <link rel="stylesheet" href="/resources/demos/style.css"> -->
	<script>
	$(document).ready(function(){


		$( "#sizeSlider" ).slider({
		min: 18,
		max: 72,
		slide: function(event, ui) {
			getSize();
		}	
		});

		$( "#boldSlider" ).slider({
		min: 400, 
		max: 700,
		
		slide: function(event, ui) {
			getBoldness();
		}	
		});

	});

	function getSize() {
		$size = $("#sizeSlider").slider("values", 0);
		$("#size").val($size);
		sessionStorage.setItem('size', $size);
	}

	function getBoldness() {
		$boldness = $("#boldSlider").slider("values", 0);
		$("#boldness").val($boldness);
		sessionStorage.setItem('boldness', $boldness);
	}

	//$("#apply").click(function(event){
	//	sessionStorage.setItem('boldness', $("#boldness"));
	//}

	</script>
</head>
<body>

<h1> Text Size </h1>
<div id="sizeSlider"></div>
<input id="size" type="submit" />
<input id = "apply" type="submit" value="Apply Changes" />

<h1> Boldness </h1>
<div id="boldSlider"></div>
<input id="boldness" type="submit" />
<input id = "apply" type="submit" value="Apply Changes" />

</body>
</html>