<html>
<head>
  <script language="javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link href="{{ STATIC_URL }}website_static/css/bootstrap.css" rel="stylesheet" media="screen">
  <link href="{{ STATIC_URL }}website_static/css/bootstrap-responsive.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}website_static/css/newsurvey.css" rel="stylesheet" type="text/css" title="main" media="screen" />
  <link href="{{ STATIC_URL }}website_static/css/sticky_footer.css" rel="stylesheet" type="text/css" title="main" media="screen" />
  <script src="{{ STATIC_URL }}website_static/js/bootstrap.min.js"></script>
  <script src="{{ STATIC_URL }}website_static/js/newsurvey.js"></script>
  <script src="{{ STATIC_URL }}website_static/js/bootstrap-transition.js"></script>
</head>
<body>
  <!-- Part 1: Wrap all page content here -->
  <div id="wrap">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div id="container" class="container-fluid">
          <!-- <div class="spaced-button"><a class="btn btn-large" href="{% url 'polls:options_survey'%}">Settings</a></div> -->
          <span class="stretch"></span>
        </div>
      </div>
    </div>

    <div id="ballot-container" class="container">
      <h1><b> You may now re-enable any necessary assistive software to complete this survey.</b></h1>
      <br/><h1>Post-Voting Survey</h1>
      <div id="choices-container">
        <form action="{% url 'polls:survey' %}" method="post">
          {% csrf_token %}
          {{ form.as_p }}
      </div>
    </div> <!-- /container -->
    <div id="push"></div>
  </div>

  <div id="footer">
    <div id="container" class="container-fluid">
      <div class="spaced-button"></div>
      <div class="spaced-button">
        <input type="submit" class="btn btn-large" id="submit_survey" value="Submit"/>
        </form>
      </div> 
      <span class="stretch"></span>
    </div>
  </div>
</body>
</html>